@import 'nib'
@import 'icons.css'

li
  list-style none

a:hover
  text-decoration none

.wf-loading
  visibility hidden

.wf-active
  visibility visible

html
  cursor default
  visibility hidden
  -webkit-font-smoothing antialiased
  body
    font-family "proxima-nova"
    font-weight 600
    letter-spacing 0.15em
    font-size 0.75em
    text-transform uppercase

.content
  header
    margin-top 2em
    padding-left 2em
    border-bottom 1px solid #ddd
  .pad
    margin-top 2em
    // width 80%
    // margin-left 10%

nav
  fixed left
  border-right 1px solid #ccc
  height 100%
  text-align center
  padding-right 20px
  z-index 2
  ul
    width 100%
    margin 0 0 20px 0
    &.main 
      absolute bottom
    &.account
      absolute top 40%
    li
      cursor pointer
    a
      width 100%
      display block

@media (min-width: 1200px)
  nav
    padding-left 10px

@media (max-width: 700px)
  nav
    display none!important
    visibility hidden

.offer
  overflow hidden
  height = 170px
  relative top
  width 100%
  height height
  border-bottom 1px solid #ddd
  section
    float left
    height 100%
    padding 0 10px
    .accountOffer &
      &.active
        background #dadada
      &:hover
        background #eee
  &.voted
    background #eee
  .votes
    user-select none
    height 100%
    font-size 20px
    width 50px
    text-align center
    line-height height
    font-weight bold
  .symbol
    div
      font-size 4em
      line-height 100px
      height 100px
      width 100px
      color white
      background red
      text-align center
      border-radius 2em
      margin 35px 0
  .main
    width 30%
  .field
    &[data-field=name]
      font-weight bold
      font-size 32px
      margin 40px 0 15px
      display block
    &[data-field=business]
      font-weight 900
      color #585858
      text-transform uppercase
      font-size 11px
      letter-spacing 1px
  .price
    font-size 5em
    font-weight 300
    line-height 160px
    text-align center
    &:first-letter
      font-size 0.4em
      vertical-align super
      font-weight 600
  .location
    line-height 2em
    text-align center
    padding-top 72px
    &:first-line
      font-size 3em
      font-weight 500
  .tags
  .price
  .location
    position relative
    width 12.5%
  .tags
    ul
      height 0
      position absolute
      overflow visible
      width 100%
      top 50%
      margin 0
      li
        text-align center
        margin-left -15px

#tagsets
  ul
    li
      display inline
#tags
  ul
    float left

.tag-list
  ul
    float left
    user-select none
    strong
      font-weight 900
      color #555
      text-transform uppercase
      font-size 11px
      letter-spacing 1px
      line-height 3em
    li
      border-left 1px solid #ddd
      span
        padding 5px 10px
        line-height 2.5em
        font-weight normal
    [data-active]
      background #ddd

table
  th
    cursor pointer
    &.active
      background #ccc
  td
    input
    select
    button
    span
    i
      margin-top 10px
      display block
    i
      cursor pointer
      margin-top 15px!important

.glyph
  float left
  text-align center
  background #eee
  padding .75em
  margin .75em 1.5em .75em 0
  width 7em
  border-radius .25em
  line-height 1.5em
  div
    font-size 2em

.actions
  padding-bottom 15px
  text-align center

#map_canvas
  height 300px

.icon
  opacity 0.7
  display inline
  text-align center
  &:hover
    opacity 1
    span
      opacity 1
  i
    font-size 2em
    padding 20px
  span
    display inline
    opacity .5

i.icon-trash
  font-size 2em
  margin-left 10px
  line-height 45px
