@import 'nib'
@import 'icons.css'

li
  list-style none


.wf-loading
  visibility hidden

.wf-active
  visibility visible


.capitalize
  text-transform capitalize



gap = 2px
fontSize = 12px
bg-color = #fcfcfc

.alert .close
a
  color #777
  &:hover
    cursor default!important
    text-decoration none
    color #444

.centered
  text-align center

.tall
  height 100%

.full
  width 100%


button
  text-transform uppercase


html
  cursor default
  overflow-x hidden
  // transform scale(0.7)
  background-color bg-color

html
body
.content
.container
.current
.next
  height 100%!important
  font-size fontSize

trans(a)
  transition-property a
  transition 600ms ease-out 0

body
input
textarea
  font-family "proxima-nova"
  color #666

body
  background-color rgba(0, 0, 0, 0)
  // background-image url("/images/bg/maze.png")
  position relative
  overflow-x hidden
  overflow-y scroll
  &.transitioning
    background-color rgba(1, 0, 0, 0)
    trans(background-color)

.greeting
  margin-top 20px
  margin-bottom 25px
  h2
  p
  .btn
    margin-bottom 25px
    display block

.content
  left 0
  width 200%
  position absolute
  .transitioning.from_account &
  .transitioning.to_about &
    trans(left)
    left 100%
  .transitioning.to_account &
  .transitioning.from_about &
    trans(left)
    left -100%

.content > div > .container
  height 100%
  padding-top 80px
  position relative
  // background-color bg-color

.current
.next
  width 50%
  height 100%
  position absolute

.next
  display none
  .transitioning.to_account &
  .transitioning.from_about &
    left 50%
    display block
  .transitioning.from_account &
  .transitioning.to_about &
    left -50%
    display block

.account_offer
  .offer
    margin-top 30px
    margin-bottom 10px

.area
  min-height 500px

textarea
input[type="text"]
input[type="password"]
input[type="datetime"]
input[type="datetime-local"]
input[type="date"]
input[type="month"]
input[type="time"]
input[type="week"]
input[type="number"]
input[type="email"]
input[type="url"]
input[type="search"]
input[type="tel"]
input[type="color"]
.uneditable-input
  border-radius 0
  background rgba(white, .6)
  border-color rgba(black, .2)
  box-shadow none
  font-size fontSize
  box-sizing border-box
  height (fontSize * 2)
  line-height (fontSize * 2)

textarea
  height auto

label
  cursor default
  i
    text-indent 10px
    opacity 0.4
    &:hover
      opacity 0.9

.navbar
  .navbar-inner
    border-radius 0
  &.account-offer
    padding-top 20px
    border-bottom 2px solid #ddd
    .navbar-inner
      padding 0 0
      background none
      border none
      box-shadow none
    ul
      width 100%
    li
      height = 40px
      font-size 14px
      line-height height
      height height
      text-transform uppercase
      width 13.7%
      text-align center
      border 2px solid transparent
      color #333
      opacity 0.4
      &.active
        opacity 1
      &:hover
        opacity 0.9
      i
        font-size 15px
        padding-right 5px
  &.topnav
    background none
    .navbar-inner
      background none!important
      border none
      box-shadow none
    width 100%
    z-index 100
    opacity 1
    fixed top
    .transitioning &
      absolute top
    .container
      padding-top 0
    .navbar-inner
      border-right none
      border-left none
      background linear-gradient(top, white, rgba(white, 0.9))
      height 75px
      .links
        margin 0 auto
        text-align center
        a
          opacity 0.7
          display inline-block
          font-size 30px
          height 75px
          line-height 35px
          margin 12px 20px 0
          cursor default
          &.active
            span
            i
              color black
          span
            display block
            font-size 12px
            text-transform uppercase
            line-height 20px
            letter-spacing 1px
          i
            height 30px
            line-height 30px
            font-size 28px
            margin-top 5px
      .shift
        position absolute
        padding 10px
        display inline-block
        &[data-shift-direction=left]
          float left
          left 0
        &[data-shift-direction=right]
          float right
          right 0
        &.home
          position relative
          line-height 70px
          // &.left
          //   padding-left 0
          //   left -5px
          // &.right
          //   padding-right 0
          //   right -5px
          // .logo
          //   margin 0
          //   top 4px
          //   position relative
          //   font-size 32px
        i
          display inline-block
          font-size 30px
          color gray
          line-height 40px
          height 40px
          margin 10px 10px 0
          cursor default
          &:hover
            color black
        #login-dropdown-list
          left -132px
          top 40px
        .accounts-dialog
          border 1px solid #ccc
          border-radius 0
          box-shadow none
        .accounts-dialog
        #login-buttons
          .login-close-text
            float right
          a.login-link-text
            relative top -5px
            text-decoration none
            color #bbb
            text-transform uppercase
            font-size 14px
            letter-spacing 1px
            display block
          .login-button
            border-radius 0
            box-shadow none
            background #ccc
            border 1px solid #aaa
            color #777
            text-shadow none
            cursor default
            font-size 11px
            text-transform uppercase
            line-height 20px
            letter-spacing 1px
            opacity 0.7
            &:hover
              opacity 1


spanner(a, b)
  if odd(b)
    width floor(a * b)
  if even(b)
    width ceil(a * b)
  margin-left 0
  &.margin
    if odd(b)
      width floor((a * b) - gap)
    if even(b)
      width floor((a * b) - gap)
    &.left
      margin-left gap
    &.right
      margin-right gap
    &.left.right
      if odd(b)
        width floor((a * b) - (gap * 2))
      if even(b)
        width ceil((a * b) - (gap * 2))

Spanner(a)
  u = (a / 12)
  .container
  .navbar-static-top .container
  .navbar-fixed-top .container
  .navbar-fixed-bottom.container
    width a
  .long
    .span12
    &.span12
      spanner(u, 12)
    .span11 
    &.span11 
      spanner(u, 11)
    .span10 
    &.span10 
      spanner(u, 10)
    .span9 
    &.span9 
      spanner(u, 9)
    .span8 
    &.span8 
      spanner(u, 8)
    .span7 
    &.span7 
      spanner(u, 7)
    .span6 
    &.span6 
      spanner(u, 6)
    .span5 
    &.span5 
      spanner(u, 5)
    .span4 
    &.span4 
      spanner(u, 4)
    .span3 
    &.span3 
      spanner(u, 3)
    .span2 
    &.span2 
      spanner(u, 2)
    .span1 
    &.span1 
      spanner(u, 1)


Spanner( 940px )

.extend
  padding-right (gap * .5)

@media (min-width: 768px) and (max-width: 979px)
  Spanner( 724px )

@media (min-width: 1200px)
  Spanner( 1170px )
  .extend
    padding-right gap

@media (max-width: 767px)
  .container
    width auto
  .long
    [class*="span"]
      width 100%
  .extend
    padding-right 0

.long
  textarea
  input
    box-sizing border-box

.hero
  .headline
    absolute top 25px left 15%
    z-index 100
    width 70%
    text-align center
    background none
    font-weight 900
    font-family "ff-tisa-web-pro"
    div
      // &.tagset span
      //   &:after
      //     content "\00a0 the "
      &.tag span
        &:nth-child(n+2)
          &:before
            content ",\00a0"
    div
      display inline
    span
      display inline-block
      opacity 0
      font-size 0px
  ul
    text-transform uppercase
    font-weight bold
    letter-spacing 1px
    padding 10px 0
    text-align center
    li
      padding 10px
      overflow hidden
      &.inactive
        background "transparent"
        opacity .5
        &:hover
          opacity .8
      &.active
        &:hover
          opacity .9


@media (min-width: 1200px)
  nav
    padding-left 10px

@media (max-width: 700px)
  nav
    display none!important
    visibility hidden


.offer

  height = 170px
  bumper = 10px
  action(a, b)
    text-align right
    line-height ((height / a) - (gap / 2))
    margin-bottom (gap * b)
    padding-right (bumper * 3)
    box-sizing border-box
    position relative
    overflow hidden!important
    .bumper
      opacity .3
    &.busy
    &[data-status=active]
    &:hover
      .bumper
        opacity 1

  font-weight normal
  relative top
  width 100%
  float left
  min-height height
  margin (gap / 2) 0
  .bumper
    width 10px
    height 100%
    absolute top
    z-index 2
    &.left
      absolute left
    &.right
      absolute right
  section
    span, p, li, i, div
      color rgba(0,0,0, 0.9)
      text-shadow 0 1px 0 white
  .account_offer &
    .symbol
    .main
    .metric
      background #ccc
  section
    float left
  &.voted
    background #eee
  .symbol
    user-select none
    height height
    div
      font-size 4em
      line-height 100px
      height 100px
      text-align center
      margin 35px 0
  .field
    &[data-field=name]
      font-weight 300
      font-size 32px
      margin 45px 0 15px -2px
      display block
      text-transform lowercase
    &[data-field=business]
      font-weight 900
      text-transform uppercase
      font-size 11px
      letter-spacing 1px
    &[data-field=description]
      line-height 12px
      text-transform none
      letter-spacing 0px
      margin-bottom 5px

  section.main
    height height
    *
      padding-right 20px

  section.actions
    height height
    ul
      display block
      height 100%
      width 100%
      margin 0
      padding 0
      li
        action(4, 1)

  section.data
    padding 0 0 0 0
    height height
    overflow hidden
    after = 10px
    actual = 20px
    mix-after()
      font-size after
      line-height after
    mix-actual()
      font-size actual
      line-height actual
      padding-top 10px
    div
      float left
      height 100%
      position relative
      span
        relative left 10%
        width 80%
        display block
        &.actual
          mix-actual()
        &.after
          mix-after()
      &.price
        span:first-letter
          font-size after
          line-height after
          vertical-align top
          font-weight bold
      &.updatedAt
        span
          font-size s = ((actual + after) / 2)
          line-height s
          font-weight semibold
      .metric
        absolute bottom
        width 100%
        padding-bottom 85px
        z-index 3
        height 100%
        max-height 85px
      .bg
        absolute bottom 100%
        width 100%
        height 100%
        z-index 2
        margin-bottom gap


    i.glyph
      absolute bottom left
      font-size 25px
      padding 10px 0
      width 100%
      z-index 10

  .extension
    relative top
    margin-top gap
    width 100%
    display none
    header
      text-align center
      padding 10px
      font-size 20px
      margin gap 0
    &[data-extension=map]
      .inner
        height height
      .address
        font-weight 500
        margin-top 20%
        text-align center
        text-transform capitalize
    &[data-extension=message]
      .inner
        position relative
        height (height / 2)
      .message-area
        action(2, 0)
        width 100%
        height 100%
        absolute top left
        font-size 16px
        opacity 1
        text-align center
      textarea
        width 100%
        height 100%
        absolute top left
        z-index 1
        font-size 16px
        line-height 24px
        padding 15px
        padding-left 25px
        border none
        &:focus
          box-shadow none
      .send
        action(2, 0)
        position absolute
        right 0



#Tagsets
  ul
    li
      margin-right 20px
      font-size 20px
      display inline
#tags
  ul
    float left


.tag-list
  ul
    float left
    user-select none
    strong
      font-weight 900
      color #555
      text-transform uppercase
      font-size 11px
      letter-spacing 1px
      line-height 3em
    li
      border-left 1px solid #ddd
      span
        padding 5px 10px
        line-height 2.5em
        font-weight normal
    [data-active]
      background #ddd

.editor
  h1
    text-align center
    padding 20px 0

.help-unit
  .intro
  h3
    text-align center
  div
    padding-bottom 2em

.btn
  border-radius 0!important
  cursor default
  margin 0 auto


// table
//   th
//     cursor pointer
//     &.active
//       background #ccc
//   td
//     input
//     select
//     button
//     span
//     i
//       margin-top 10px
//       display block
//     i
//       cursor pointer
//       margin-top 15px!important


.glyphs-list
  .inner
    margin 0 auto
    float none
    position relative
    left 50px
  .glyph
    float left
    text-align center
    background #eee
    margin 1px
    width 100px
    height 100px
    line-height 100px
    div
      font-size 35px

.data
  padding-bottom 15px
  text-align center

input.color
  color white
  text-align center

.icon
  opacity 0.7
  display inline
  text-align center
  &:hover
    opacity 1
    span
      opacity 1
  i
    font-size 2em
    padding 20px
  span
    display inline
    opacity .5

i.icon-trash
  font-size 2em
  margin-left 10px
  line-height 45px

.accounts-dialog
  .additional-link
    text-transform none
    letter-spacing 0
    font-weight normal
    text-decoration none!important
    padding 3px 3px 0

.wrapper
  relative top
  overflow hidden
  // opacity 0
  height 100px
  trans(height)
  &.out
    height 32px
    opacity 0
    trans(height)
  &.in
    height 100px
    opacity 1
    trans(height)

.alert
  border-radius 0

.dhtmlx_message_area
  fixed right 5px
  top 83px!important
  width 250px
  z-index 1000
  *
    font-family "proxima-nova"
  .dhtmlx-info
    transition all .5s ease
    z-index 10000
    display block
    min-width 120px
    height height
    line-height height
    padding 5px 15px
    box-shadow 0 1px 5px rgba(black, 0.1)
    border none
    border-radius 0
    font-weight 600
    margin 5px
    margin-bottom 10px
    opacity 1
    overflow hidden
    i
      padding 2px 15px 2px 0
      vertical-align middle
      font-size 30px
      line-height height
      height 100%
      margin 0
      float left
      position relative
    div
      border-radius 0
      border none
      background none
      padding 0
      margin 0
      height height
      line-height height
    &.hidden
      height 0
      overflow hidden
      padding 0
      opacity 0
      margin 0
    status(col)
      desat = desaturate(darken(col, 30%), 80%)
      background desaturate(lighten(col, 90%), 40%)
      color desat
      border-bottom 1px solid rgba(desat, 0.7)
      border-left 1px solid rgba(desat, 0.4)
      border-right 1px solid rgba(desat, 0.4)
      border-top 1px solid rgba(desaturate(col, 60%), 0.5)
    &[class*="success"]
      status(#89dd7c)
    &[class*="warning"]
      status(#db7d7d)
    &[class*="neutral"]
      status(#9696aa)

.message-container
  color = rgba(white, .3)
  background color
  margin-bottom 20px
  footer
  article > *
    padding 20px
  article
    border-bottom 1px solid rgba(black, .15 )
    background rgba(white, .3)
    relative top
    overflow hidden
    *
      box-sizing border-box
    .from
      font-weight bold
    .inner
    textarea
      border none
      border-left 2px solid rgba(black, 0.3)
      padding-left 10px
    .sent
      absolute right
      height 100%
      text-align center
    &.compose
      light = rgba(white, .8)
      background rgba(black, .7)
      color light
      textarea
        width 100%
        background none
        box-shadow none
        border-color light
        color light
      .sent
        background rgba(white, .01)
        font-weight bold
        &:hover
          background rgba(white, .1)


.modal
  border-radius 0
  .alert
    margin-bottom 0
    &.fade
      display none
      &.in
        display block
  button
  input
    width 100%
