@import 'nib'
@import 'icons.css'

li
  list-style none


.wf-loading
  visibility hidden

.wf-active
  visibility visible


.capitalize
  text-transform capitalize



gap = 2px


.alert .close
a
  &:hover
    cursor default!important
    text-decoration none

bg-color = #fcfcfc

html
  cursor default
  overflow-x hidden
  // transform scale(0.7)
  background-color bg-color

html
body
.content
.container
.current
.next
  height 100%!important

trans(a)
  transition-property a
  transition 600ms ease-out 0

body
  font-family "proxima-nova"
  color #888
  background-color rgba(0, 0, 0, 0)
  // background-image url("/images/bg/maze.png")
  position relative
  overflow-x hidden
  overflow-y scroll
  &.transitioning
    background-color rgba(1, 0, 0, 0)
    trans(background-color)

.greeting
  h1
    font-size 6em
    line-height 1em
    color #444

.content
  left 0
  width 200%
  position absolute
  .transitioning.from_account &
  .transitioning.to_about &
    trans(left)
    left 100%
  .transitioning.to_account &
  .transitioning.from_about &
    trans(left)
    left -100%

.content > div > .container
  height 100%
  padding-top 80px
  position relative
  // background-color bg-color

.current
.next
  width 50%
  height 100%
  position absolute

.next
  display none
  .transitioning.to_account &
  .transitioning.from_about &
    left 50%
    display block
  .transitioning.from_account &
  .transitioning.to_about &
    left -50%
    display block

.account_offer
  .offer
    margin-bottom 40px

.area
  min-height 500px

textarea
input
  border-radius 0!important

label
  cursor default
  i
    text-indent 10px
    opacity 0.4
    &:hover
      opacity 0.9

.navbar
  .navbar-inner
    border-radius 0
  &.account
    padding-top 20px
    border-bottom 2px solid #ddd
    .navbar-inner
      padding 0 0
      background none
      border none
      box-shadow none
    ul
      width 100%
    li
      height = 40px
      font-size 12px
      line-height height
      height height
      text-transform uppercase
      width 13.7%
      text-align center
      border 2px solid transparent
      color #333
      opacity 0.4
      &.active
        opacity 1
      &:hover
        opacity 0.9
      i
        font-size 15px
        padding-right 5px
  &.topnav
    width 100%
    z-index 100
    opacity 1
    fixed top
    .transitioning &
      absolute top
    .container
      padding-top 0
    .navbar-inner
      border-right none
      border-left none
      background linear-gradient(top, white, rgba(white, 0.9))
      height 75px
      .links
        margin 0 auto
        text-align center
        li
          opacity 0.7
          display inline-block
          font-size 30px
          height 75px
          line-height 35px
          margin 12px 20px 0
          cursor default
          &.active
            i
              color black
          span
            display block
            font-size 12px
            text-transform uppercase
            line-height 20px
            letter-spacing 1px
          i
            height 30px
            line-height 30px
            font-size 28px
            margin-top 5px
      .shift
        padding 10px
        display inline-block
        &[data-shift-direction=left]
          float left
        &[data-shift-direction=right]
          float right
        &.home
          position relative
          line-height 70px
          // &.left
          //   padding-left 0
          //   left -5px
          // &.right
          //   padding-right 0
          //   right -5px
          // .logo
          //   margin 0
          //   top 4px
          //   position relative
          //   font-size 32px
        i
          display inline-block
          font-size 30px
          color gray
          line-height 40px
          height 40px
          margin 10px 10px 0
          cursor default
          &:hover
            color black
        #login-buttons a.login-link-text
          relative top -5px
          text-decoration none
          color #bbb
          text-transform uppercase
          font-size 14px
          letter-spacing 1px
          display block
        #login-dropdown-list
          left -140px
        .accounts-dialog
          border 1px solid #ccc
          border-radius 0
          box-shadow none
        .accounts-dialog
        #login-buttons
          .login-button
            border-radius 0
            box-shadow none
            background #ccc
            border 1px solid #aaa
            color #777
            text-shadow none
            cursor default
            font-size 11px
            text-transform uppercase
            line-height 20px
            letter-spacing 1px
            opacity 0.7
            &:hover
              opacity 1

spanner(a, b)
  width floor(a * b)
  margin-left 0
  &.margin
    width floor((a * b) - gap)
    &.left
      margin-left gap
    &.right
      margin-right gap
    &.left.right
      width floor((a * b) - (gap * 2))

Spanner(a)
  u = (a / 12)
  .container
  .navbar-static-top .container
  .navbar-fixed-top .container
  .navbar-fixed-bottom.container
    width a
  .long
    .span12
    &.span12
      spanner(u, 12)
    .span11 
    &.span11 
      spanner(u, 11)
    .span10 
    &.span10 
      spanner(u, 10)
    .span9 
    &.span9 
      spanner(u, 9)
    .span8 
    &.span8 
      spanner(u, 8)
    .span7 
    &.span7 
      spanner(u, 7)
    .span6 
    &.span6 
      spanner(u, 6)
    .span5 
    &.span5 
      spanner(u, 5)
    .span4 
    &.span4 
      spanner(u, 4)
    .span3 
    &.span3 
      spanner(u, 3)
    .span2 
    &.span2 
      spanner(u, 2)
    .span1 
    &.span1 
      spanner(u, 1)


Spanner( 940px )

@media (min-width: 768px) and (max-width: 979px)
  Spanner( 724px )

@media (min-width: 1200px)
  Spanner( 1170px )

@media (max-width: 767px)
  .container
    width auto
  .long
    [class*="span"]
      width 100%

.hero
  .headline
    padding 20px
    height 100px
    line-height 100px
    .inner
      border-bottom 3px solid
      relative bottom
    text-align center
    background none
    text-transform uppercase
    font-weight 900
    div
      &.tagset span
        &:after
          content "\00a0 the "
      &.tag span
        &:nth-child(n+2)
          &:before
            content ",\00a0"
    div
      display inline
    span
      display inline-block
      opacity 0
      font-size 0px
  ul
    text-transform uppercase
    font-weight bold
    letter-spacing 1px
    padding 10px 0
    text-align center
    li
      padding 10px
      overflow hidden
      &.inactive
        background "transparent"
        opacity .5
        &:hover
          opacity .8
      &.active
        &:hover
          opacity .9


@media (min-width: 1200px)
  nav
    padding-left 10px

@media (max-width: 700px)
  nav
    display none!important
    visibility hidden


.offer
  height = 170px
  relative top
  width 100%
  float left
  min-height height
  overflow hidden
  margin (gap / 2) 0
  color white
  section
    float left
    .accountOffer &
      &.active
        background #dadada
      &:hover
        background #eee
  &.voted
    background #eee
  .symbol
    user-select none
    div
      font-size 4em
      line-height 100px
      height 100px
      text-align center
      margin 35px 0
  .field
    &[data-field=name]
      font-weight 300
      font-size 32px
      margin 45px 0 15px -2px
      display block
      text-transform lowercase
    &[data-field=business]
      font-weight 900
      text-transform uppercase
      font-size 11px
      letter-spacing 1px
    &[data-field=description]
      line-height 12px
      text-transform none
      font-weight normal
      letter-spacing 0px
      margin-bottom 5px

  section.main
    height height

  section.actions
    padding 0 0 0 0
    height height
    span
      color rgba(white, 0.9)
    div
      float left
      height 100%
      position relative
      .bg
      .metric
        width 100%
        position absolute
        bottom 0
      .metric
        padding-bottom 80px
        z-index 3
        height 100%
        max-height 90px
      .bg
        height 100%
        opacity .4
        z-index 2
        background white


    i.full-icon
      absolute bottom left
      font-size 25px
      padding 10px 0
      width 100%
      z-index 10
      opacity 1
      &[data-status=inactive]
        color white
        opacity 0.8
        text-shadow 0 -1px 0 rgba(black, 0.6)

  .extension
    height 170px
    width 100%
    display none

  .metrics
    width 50px
    .votes
      height 30px
      width 30px
      display block
      background-color gray


#Tagsets
  ul
    li
      margin-right 20px
      font-size 20px
      display inline
#tags
  ul
    float left


.tag-list
  ul
    float left
    user-select none
    strong
      font-weight 900
      color #555
      text-transform uppercase
      font-size 11px
      letter-spacing 1px
      line-height 3em
    li
      border-left 1px solid #ddd
      span
        padding 5px 10px
        line-height 2.5em
        font-weight normal
    [data-active]
      background #ddd

.editor
  h1
    text-align center
    padding 20px 0

.help-unit
  .intro
  h3
    text-align center
  div
    padding-bottom 2em

.btn
  border-radius 0
  cursor default
  margin 0 auto


// table
//   th
//     cursor pointer
//     &.active
//       background #ccc
//   td
//     input
//     select
//     button
//     span
//     i
//       margin-top 10px
//       display block
//     i
//       cursor pointer
//       margin-top 15px!important


.glyph-list
  .inner
    margin 0 auto
    float none
    position relative
    left 50px
  .glyph
    float left
    text-align center
    background #eee
    margin 1px
    width 100px
    height 100px
    line-height 100px
    div
      font-size 35px

.actions
  padding-bottom 15px
  text-align center

#map_canvas
  height 300px

.icon
  opacity 0.7
  display inline
  text-align center
  &:hover
    opacity 1
    span
      opacity 1
  i
    font-size 2em
    padding 20px
  span
    display inline
    opacity .5

i.icon-trash
  font-size 2em
  margin-left 10px
  line-height 45px

.accounts-dialog
  .additional-link
    text-transform none
    letter-spacing 0
    font-weight normal
    text-decoration none!important
    padding 3px 3px 0

.alert
  border-radius 0

// .modal
//   position fixed
//   top 40%
//   left 50%
//   height 550px
//   width 600px

