template(name='thisOffer')
  div.thisOffer
    {{#with getThisOffer}}
    {{> offer}}
    .input-append
      input.text(type="text")
      button.btn Go!
    {{/with}}

template(name='offer')
  .offer(data-tagset="{{this.tagset}}", data-help-block="false", data-help-selector="offer").long
    {{#constant}}
    h1 {{this.distance}}
    {{/constant}}

    section.image.span2
      div(style="background-image: url({{this.image}})")

    section.main.span4.extend
      span.field(data-field='name') {{this.name}}
      p.field(data-field='description') {{this.description}}
      span.field(data-field='business') {{this.business}}

    section.data
      mixin data(opt)
        div(class= opt.selector ).span1.margin.left
          i(class="glyph-" + opt.glyph).glyph
          .metric.clr-bg
            span.actual= opt.metric
            span.after= opt.after

            .bg

      {{#isolate}}
      mixin data({ selector: "votes_count", glyph: "plus", metric: "{{this.votes_count}}", after:"votes" })
      {{/isolate}}
      {{#constant}}
      mixin data({ selector: "distance", glyph: "location", metric: "{{this.distance}}", after:"miles" })
      {{/constant}}
      mixin data({ selector: "price", glyph: "tag-2", metric: "${{numberWithCommas this.price}}" })
      mixin data({ selector: "updatedAt", glyph: "history", metric: "{{styleDate this.updatedAt}}" })


    section.actions.span2.margin.left
      ul
        mixin action(opt)
          li(class= opt.selector, data-status="inactive", data-selector= opt.selector)
            a(href="#")= opt.label

        mixin action({ selector: "vote", label: "upvote" })
        mixin action({ selector: "reserve", label: "purchase" })
        mixin action({ selector: "message", label: "message" })
        mixin action({ selector: "map", label: "locate" })

    section.extension(data-extension="reserve")
      .inner.span10(action="", method="POST")
        form.payment-form

          .control-group
            label.control-label Card Number
            .controls
              input(type="text", autocomplete="off", placeholder="4242424242424242").card-number

          .control-group
            label.control-label Expiration
            .controls
              input(type="text", autocomplete="off", placeholder="MM").card-expiry-month.input-mini
              input(type="text", autocomplete="off", placeholder="YYYY").card-expiry-year.input-mini

          .control-group
            label.control-label CVV
            .controls
              input(type="text", autocomplete="off", placeholder="123").card-cvc.input-mini

        em: h6.span10.centered status report

      .inner.span2.margin.left.reserve reserve
      .inner.span2.margin.left.reserve buy

    section.extension(data-extension="message")
      .inner.span10
        textarea(placeholder="Write a little note...")
        .message-area
      .inner.span2.margin.left.send send

    section.extension(data-extension="map")
      .inner.map.span12
      .inner.address-container.span3
        p.address
          | {{this.street}}
          br
          | {{this.city}}, {{this.state}}
          br
          | {{#if this.zip}}{{this.zip}}{{/if}}
        p.time
          span arrive in
          br
          span.value

