template(name='account')
  h1 This is your account

template(name='account_profile')
  {{#with getUser}}
  ul
    li Username: {{this.username}}
    li Votes: {{this.votes.length}}
    li Type: {{this.type}}
    li Points: {{this.points}}
    li Age: {{styleDate this.createdAt}}
  {{/with}}

template(name='account_metrics')
  {{#with getUser}}
  span
    strong Offers: 
    {{offers}}
  br
  span
    strong Votes: 
    {{votes.length}}
  {{/with}}
  
template(name='account_offer')
  .myOffer
    {{#with getOffer}}
    {{> offer}}
    {{/with}}

  .clearfix

  {{#if status_alert}}
  {{#with status_alert}}
  div(class="{{this.type}}").alert.alert-block
    button.close(type='button', data-dismiss='alert') ×
    h4.alert-heading {{this.heading}}
    p {{this.message}}
  {{/with}}
  {{/if}}

  .clearfix.pad

    .actions
      input.btn.save(type='button', value='Save')

    .clearfix
    {{#if show "main"}}
    {{#with getOffer}}
    form.form-horizontal
      .control-group
        label.control-label Name
        .controls
          input#name.text(type='text', tabindex='1', value='{{this.name}}')
      .control-group
        label.control-label Description
        .controls
          input#description.text(type='text', tabindex='2', value='{{this.description}}')
      .control-group
        label.control-label Business
        .controls
          input#business.text(type='text', tabindex='3', value='{{this.business}}')
    {{/with}}
    {{/if}}

    {{#if show "votes"}}
    {{#with getOffer}}
    input#qr-button.btn(type='button', value='QR Code')
    #qr-code
    {{/with}}
    {{/if}}

    {{#if show "symbol"}}
    {{#with getOffer}}
    .row.offset1
      input.text.color(type='text', value='{{this.color}}')
      .clearfix
      {{#each getIcons}}
      .glyph
        .large(class="glyph-{{this}}")
      {{/each}}
    {{/with}}
    {{/if}}

    {{#if show "tags"}}
    .tag-list
      {{#each getTagsets}}
      ul.span2.offset1
        strong {{this.name}}
        {{#each getTags}}
        li
          {{#with checkTagActive}}
          | <span {{attr}}>{{name}}</span>
          {{/with}}
        {{/each}}
      {{/each}}
    {{/if}}

    {{#if show "price"}}
    {{#with getOffer}}
    form.form-horizontal
      .control-group
        label.control-label Price
        .controls
          input#price.text(type='text', tabindex='1', value='{{this.price}}')
    {{/with}}
    {{/if}}

    {{#if show "location"}}
    {{#with getOffer}}
    form#location.form-horizontal
      .control-group
        label.control-label Street
        .controls
          input#street.text(type='text', tabindex='1', value='{{this.street}}')
      .control-group
        label.control-label City & State
        .controls
          input#city_state.text(type='text', tabindex='1', value='{{this.city_state}}')
      .control-group
        label.control-label Zip
        .controls
          input#zip.text(type='text', tabindex='1', value='{{this.zip}}')
    {{/with}}
    {{/if}}

