
template(name="feedback")
  .greeting.row
    .span6.offset3
      h5.centered.
        If you have something you'd like to mention to us, go ahead
        and fill out this little message box and send it our way.
      br

    form#feedback.span4.offset4
      .control-group
        .controls
          textarea(rows=4).span4
      button.btn.centered.span4.clr-bg Send

    .span10.offset1
      h5.centered We'd like to take a moment to say <em>thank you</em>...
      p.centered.
        We're in love with Kansas City, and we hope you are
        too. We've worked hard to make something special for our home
        -- an elegant tool that lets us to trade with our friends,
        family, and neighbors in just seconds. With your help,
        we have a chance to make it great.
    .span6.offset3
      p.centered.
        So thanks. If you were in front of us, we'd buy you something to drink.
        Something... tasty? Or maybe smooth... Smooth, strong, <em>and</em> tasty.
      p.centered.
        We should probably take more time off.

