template(name='thisOffer')
  div.thisOffer
    {{#with getThisOffer}}
    {{> offer}}
    .input-append
      input.text(type="text")
      button.btn Go!
    {{/with}}

template(name='offer')
  div.offer(id="{{this._id}}")
    section.votes {{this.votes.length}}
    section.symbol
      div(class='{{this.symbol}}', style="background: {{this.color}}")
    section.main
      span.field(data-field='name') {{this.name}}
      span.field(data-field='description') {{this.description}}
      br
      span.field(data-field='business') {{this.business}}
      br
    section.tags
      ul
        li
        {{#each tags}}
        li {{this}}
        {{/each}}
    section.price
      span.field(data-field='price') {{this.price}}
    section.location
      {{getDistance this.loc}}

